Repository clusterlink-net/clusterlink, changes with the owners that CODEOWNERS names for each.
All owners: @elevran, @kfirtoledo, @orozery, @praveingk, @zivnevo, @michalmalka

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Order is important; the last matching pattern takes the most
# precedence. 
*                   @elevran
cmd/                @kfirtoledo @orozery
demos/              @kfirtoledo
pkg/                @elevran @kfirtoledo @orozery
pkg/dataplane/go    @praveingk @orozery
pkg/policyengine/   @zivnevo
website/            @elevran @michalmalka

hardcode v0.1.0 in URLs
  website/content/en/_index.md
Owners: @elevran, @michalmalka

make shortcodes and links version aware
  website/content/en/_index.md
  website/layouts/shortcodes/clusterlink/card.html
  website/layouts/shortcodes/clusterlink/intro.html
  website/layouts/shortcodes/clusterlink/main.html
Owners: @elevran, @michalmalka

E2E tests for access policies (also privileged) (#525)
  tests/e2e/k8s/test_policy.go
  tests/e2e/k8s/util/clusterlink.go
  tests/e2e/k8s/util/policies.go
Owners: @elevran

enable foldable sidebar links
  website/config.toml
Owners: @elevran, @michalmalka

cmd/clusterlink: add ingress-annotations flag
  cmd/clusterlink/cmd/deploy/deploy_peer.go
  config/crds/clusterlink.net_instances.yaml
  demos/utils/clusterlink.py
  pkg/apis/clusterlink.net/v1alpha1/instance_types.go
  pkg/apis/clusterlink.net/v1alpha1/zz_generated.deepcopy.go
  pkg/bootstrap/platform/config.go
  pkg/bootstrap/platform/k8s.go
  pkg/operator/controller/instance_controller.go
  pkg/operator/controller/instance_controller_test.go
  website/content/en/docs/tasks/operator.md
Owners: @kfirtoledo, @orozery, @elevran, @michalmalka

chnage in link syntax
  website/content/en/docs/v0.1.0/_index.md
  website/content/en/docs/v0.1.0/concepts/fabric.md
  website/content/en/docs/v0.1.0/concepts/peers.md
  website/content/en/docs/v0.1.0/concepts/policies.md
  website/content/en/docs/v0.1.0/concepts/services.md
  website/content/en/docs/v0.1.0/doc-contribution/_index.md
  website/content/en/docs/v0.1.0/getting-started/_index.md
  website/content/en/docs/v0.1.0/getting-started/users.md
  website/content/en/docs/v0.1.0/overview/_index.md
  website/content/en/docs/v0.1.0/tutorials/iperf.md
Owners: @elevran, @michalmalka

cmd/clusterlink: add ingress-annotations flag (#530)
  cmd/clusterlink/cmd/deploy/deploy_peer.go
  config/crds/clusterlink.net_instances.yaml
  demos/utils/clusterlink.py
  pkg/apis/clusterlink.net/v1alpha1/instance_types.go
  pkg/apis/clusterlink.net/v1alpha1/zz_generated.deepcopy.go
  pkg/bootstrap/platform/config.go
  pkg/bootstrap/platform/k8s.go
  pkg/operator/controller/instance_controller.go
  pkg/operator/controller/instance_controller_test.go
  website/content/en/docs/tasks/operator.md
Owners: @kfirtoledo, @orozery, @elevran, @michalmalka

fix CR details link
  website/content/en/docs/v0.1.0/concepts/peers.md
Owners: @elevran, @michalmalka

references updated to match v0.1.0 formats
  website/content/en/docs/main/_index.md
  website/content/en/docs/main/concepts/fabric.md
  website/content/en/docs/main/concepts/peers.md
  website/content/en/docs/main/concepts/policies.md
  website/content/en/docs/main/concepts/services.md
  website/content/en/docs/main/doc-contribution/_index.md
  website/content/en/docs/main/getting-started/_index.md
  website/content/en/docs/main/getting-started/users.md
  website/content/en/docs/main/overview/_index.md
  website/content/en/docs/main/tasks/operator.md
  website/content/en/docs/main/tutorials/iperf.md
Owners: @elevran, @michalmalka

missing / as prefix to docs URLs
  website/content/en/_index.md
Owners: @elevran, @michalmalka

add ingress-annotation
  website/content/en/docs/main/tasks/operator.md
Owners: @elevran, @michalmalka
